:root{
  --height-header: 40px;
  --height-footer: 44px;
}

@font-face {
  font-family: 'Minotaur-Jugendstil';
  src: url('/fonts/Minotaur-Jugendstil.ttf');
  font-display: swap;
}

body,
html {
  height: 100%;
  margin: 0px;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0px;
}

.row {
  flex-flow: row;
}

.col {
  flex-flow: column;
}



.head {
  font-family: 'Minotaur-Jugendstil';
  font-size: 1rem;
  border: 0;
  border-bottom: 2px solid black;
  height: var(--height-header);
}

.main {
  height: calc(100% - var(--height-header) - var(--height-footer));
}

.footer {
  border: 0;
  border-top: 2px solid black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1rem;
  height: var(--height-footer);
}

.footer>p {
  margin: 2px;
  margin-left: 5px;
}


.image-container {
  display: flex;

  justify-content: center;
  
  height: 100%;
  width: 100%;
}

.image-holder {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

  min-width: 220px;
  max-width: 50%;
  width: 700px;
  max-height: 100%;

  overflow-y: scroll;
  overflow-x: hidden;

  resize: horizontal;
}

.image-viewer {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;

  /* visibility: collapse; */
  width: 0px;

  overflow-y: auto;
  background: linear-gradient(0%);
}

.image-page-controls {
  display: flex;
  background-color: burlywood;
  justify-content: center;
  height: 40px;
  flex: 0 1 auto;
}

.image-page-controls>div {
  display: inline-flex;
  user-select: none;
  cursor: pointer;
}

.image-page-controls>div::before,
.image-page-controls>div::after {
  content: '\00a0 ';
}

.image {
  height: 200px;
  width: 200px;
  
  min-width: 100px;
  min-height: 100px;

  margin: 3px;
  display: inline-flex;

  object-fit: contain;
  /* background-image: url('/../images/thumbnails/twitter.com_-on-Twitter67b181eb8155400c4086e5c57cfa1673.png'); */
}

.background {

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;


}



.orig-image-w {
  width: max-content;
  height: 100%;
}

.orig-image-h {
  height: max-content;
  width: 100%;
  display: inline-flex
}

.menu {
  position: absolute;
  visibility: collapse;
  background-color: white;
  margin: 0px;

  font-size: 1rem;
}

.show {
  visibility: visible;
  width: 50%;
}

.menu>p {
  display: block;
  padding: 2px;
  padding-right: 0px;
  padding-left: 0px;

  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: 1px solid black;
  width: 100%;

  user-select: none;
  cursor: pointer;
}


.selected {
  border: 2px dotted red;
  margin: 1px;
}

.animated-w {
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.svg-holder {
  transition-property: right;
  transition-duration: .5s;
  transition-timing-function: linear;
}

.svg-bookmarks,
.svg-holder {
  position: fixed;
  right: -60px;
  bottom: 90px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, .7);
}

.control-icon {
  height: 40px;
  width: 40px;
  display: block;
  padding: 2px;
}

.svg-bookmarks {
  bottom: 45px;
  position: fixed;
  right: 20px;
}

@media (max-width: 768px) {
  .image-holder {
    min-width: 0px;
    max-width: 100%;
  }

  .image {
    height: 100px;
    width: 100px;
  }
}