@font-face {

  font-family: 'Minotaur-Jugendstil';
  src: url('/fonts/Minotaur-Jugendstil.ttf');
  font-display: swap;
}

body,
html {
  height: 100%;
  margin: 0px;
}

body {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin: 0px;
}

.row {
  flex-flow: column;
}

.col {
  flex-flow: column;
}



.head {
  /* background: linear-gradient(rgba(93, 61, 209) 32px, rgba(255, 255, 255, 0) 100%) ; */
  font-family: 'Minotaur-Jugendstil';
  font-size: 1rem;
  flex: 1 1 auto;
  border: 0;
  border-bottom: 2px solid black;

}

.main {
  display: flex;
  justify-content: center;
  flex: 0 1 auto;
  height: calc(100% - 40px - 44px);
}

.image-container {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-grow: 0;
  overflow-y: visible;
}

.image-holder {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  background-color: white;

  min-width: 220px;
  max-width: 50%;
  width: 700px;
  max-height: 100%;

  flex: 1 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.image-viewer {
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;

  /* visibility: collapse; */
  width: 0px;

  overflow-y: auto;
  background: linear-gradient(0%);
}

.image-page-controls {
  display: flex;
  background-color: burlywood;
  justify-content: center;
  height: 40px;
  flex: 0 1 auto;
}

.image-page-controls>div {
  display: inline-flex;
  user-select: none;
  cursor: pointer;
}

.image-page-controls>div::before,
.image-page-controls>div::after {
  content: '\00a0 ';
}

.image {
  min-height: 200px;
  min-width: 200px;
  margin: 3px;
  display: inline-flex;

  /* background-image: url('/../images/thumbnails/twitter.com_-on-Twitter67b181eb8155400c4086e5c57cfa1673.png'); */
}

.background {

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}



.orig-image-w {
  width: max-content;
  height: 100%;
}

.orig-image-h {
  height: max-content;
  width: 100%;
  display: inline-flex
}


.footer {
  border: 0;
  border-top: 2px solid black;
  flex: 0 1 auto;
  font-family: Arial, Helvetica, sans-serif
}

.footer>p {
  margin: 2px;
  margin-left: 5px;
}

.menu {
  position: absolute;
  visibility: collapse;
  background-color: white;
  margin: 0px;

  font-size: 1rem;
}

.show {
  visibility: visible;
  width: 100%;
}

.menu>p {
  display: block;
  padding: 2px;
  padding-right: 0px;
  padding-left: 0px;

  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: 1px solid black;
  width: 100%;

  user-select: none;
  cursor: pointer;
}


.selected {
  border: 2px dotted red;
  margin: 1px;
}


.animated-h {
  transition-property: height;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.animated-w {
  transition-property: width;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.svg-star,
.svg-download {
  position: fixed;
  right:10px;
  border: 1px solid black;
}

.svg-star {
  bottom: 90px;
  height: 40px;
}

.svg-download {
  bottom: 50px;
  height: 40px;
}